include ../../components/svg.pug
section.section.section2.section-rounded.standarts2
  .container 
    .section__wrapper
      .section__top
        .left
          h2.title Более 22 лет мы строим дома. Дома, в которых хочется жить, встречать гостей, дружить, любить …
          p.subtitle  К нам возвращаются, чтобы купить квартиру больше. Нас рекомендуют друзьям и знакомым. Более 22 лет мы оправдываем доверие, потому что строим дома с действительно удобными планировками, из материалов высокого качества и с четким соблюдением сроков сдачи. На все свои дома мы даем гарантию, поэтому будьте уверены, в наших домах вам будет тепло, уютно и спокойно.

      .standarts2__list  
        .accordeon.standarts2__content
          .item
            .item__head 
              div
                +svg('back',32)
                h4 Всегда раньше срока
              span.icon
            .item__body 
              .item__body-wrapper
                .standarts2__item
                  .standarts2__item--top
                    p.text Каждый объект, построенный нашей компанией, был сдан раньше срока. Мы привыкли приятно удивлять наших новосёлов и впредь будем радовать наших покупателей хорошими новостями.
                  .standarts2__item--bottom
                    img(src=require('/assets/images/standarts/standart-1.png'), alt="1") 
        
      
          .item
            .item__head 
              div
                +svg('back',32)
                h4 Всегда раньше срока
              span.icon
            .item__body 
              .item__body-wrapper
                .standarts2__item
                  .standarts2__item--top
                    p.text Каждый объект, построенный нашей компанией, был сдан раньше срока. Мы привыкли приятно удивлять наших новосёлов и впредь будем радовать наших покупателей хорошими новостями.
                  .standarts2__item--bottom
                    img(src=require('/assets/images/standarts/standart-1.png'), alt="1") 
        
      
          .item
            .item__head 
              div
                +svg('back',32)
                h4 Всегда раньше срока
              span.icon
            .item__body 
              .item__body-wrapper
                .standarts2__item
                  .standarts2__item--top
                    p.text Каждый объект, построенный нашей компанией, был сдан раньше срока. Мы привыкли приятно удивлять наших новосёлов и впредь будем радовать наших покупателей хорошими новостями.
                  .standarts2__item--bottom
                    img(src=require('/assets/images/standarts/standart-1.png'), alt="1") 
        
      
          .item
            .item__head 
              div
                +svg('back',32)
                h4 Всегда раньше срока
              span.icon
            .item__body 
              .item__body-wrapper
                .standarts2__item
                  .standarts2__item--top
                    p.text Каждый объект, построенный нашей компанией, был сдан раньше срока. Мы привыкли приятно удивлять наших новосёлов и впредь будем радовать наших покупателей хорошими новостями.
                  .standarts2__item--bottom
                    img(src=require('/assets/images/standarts/standart-1.png'), alt="1") 
        
      
          .item
            .item__head 
              div
                +svg('back',32)
                h4 Всегда раньше срока
              span.icon
            .item__body 
              .item__body-wrapper
                .standarts2__item
                  .standarts2__item--top
                    p.text Каждый объект, построенный нашей компанией, был сдан раньше срока. Мы привыкли приятно удивлять наших новосёлов и впредь будем радовать наших покупателей хорошими новостями.
                  .standarts2__item--bottom
                    img(src=require('/assets/images/standarts/standart-1.png'), alt="1") 
        
      
          .item
            .item__head 
              div
                +svg('back',32)
                h4 Всегда раньше срока
              span.icon
            .item__body 
              .item__body-wrapper
                .standarts2__item
                  .standarts2__item--top
                    p.text Каждый объект, построенный нашей компанией, был сдан раньше срока. Мы привыкли приятно удивлять наших новосёлов и впредь будем радовать наших покупателей хорошими новостями.
                  .standarts2__item--bottom
                    img(src=require('/assets/images/standarts/standart-1.png'), alt="1") 
        
      
          .item
            .item__head 
              div
                +svg('back',32)
                h4 Всегда раньше срока
              span.icon
            .item__body 
              .item__body-wrapper
                .standarts2__item
                  .standarts2__item--top
                    p.text Каждый объект, построенный нашей компанией, был сдан раньше срока. Мы привыкли приятно удивлять наших новосёлов и впредь будем радовать наших покупателей хорошими новостями.
                  .standarts2__item--bottom
                    img(src=require('/assets/images/standarts/standart-1.png'), alt="1") 
        
      
          .item
            .item__head 
              div
                +svg('back',32)
                h4 Всегда раньше срока
              span.icon
            .item__body 
              .item__body-wrapper
                .standarts2__item
                  .standarts2__item--top
                    p.text Каждый объект, построенный нашей компанией, был сдан раньше срока. Мы привыкли приятно удивлять наших новосёлов и впредь будем радовать наших покупателей хорошими новостями.
                  .standarts2__item--bottom
                    img(src=require('/assets/images/standarts/standart-1.png'), alt="1") 
        
      
          .item
            .item__head 
              div
                +svg('back',32)
                h4 Всегда раньше срока
              span.icon
            .item__body 
              .item__body-wrapper
                .standarts2__item
                  .standarts2__item--top
                    p.text Каждый объект, построенный нашей компанией, был сдан раньше срока. Мы привыкли приятно удивлять наших новосёлов и впредь будем радовать наших покупателей хорошими новостями.
                  .standarts2__item--bottom
                    img(src=require('/assets/images/standarts/standart-1.png'), alt="1") 
        
      
          .item
            .item__head 
              div
                +svg('back',32)
                h4 Всегда раньше срока
              span.icon
            .item__body 
              .item__body-wrapper
                .standarts2__item
                  .standarts2__item--top
                    p.text Каждый объект, построенный нашей компанией, был сдан раньше срока. Мы привыкли приятно удивлять наших новосёлов и впредь будем радовать наших покупателей хорошими новостями.
                  .standarts2__item--bottom
                    img(src=require('/assets/images/standarts/standart-1.png'), alt="1") 
        
      
          .item
            .item__head 
              div
                +svg('back',32)
                h4 Всегда раньше срока
              span.icon
            .item__body 
              .item__body-wrapper
                .standarts2__item
                  .standarts2__item--top
                    p.text Каждый объект, построенный нашей компанией, был сдан раньше срока. Мы привыкли приятно удивлять наших новосёлов и впредь будем радовать наших покупателей хорошими новостями.
                  .standarts2__item--bottom
                    img(src=require('/assets/images/standarts/standart-1.png'), alt="1") 
  .standarts2__slider
    include ../../components/slider/standart/index.pug
      