mixin link(href, text, theme, size)
  - const classTheme = theme ? `link--${theme}` :''
  - const classSize = size ? `link-${size}` :''
  if(href)
    a(href=href class="link" class=[classTheme,classSize]) #{text}
  else
    span(class="link" class=[classTheme,classSize]) #{text}